header {
  height: 60px;
}

/* this section is to leave space for the filtering feature - stretch goal */
section {
  display: hidden;
  height: 40px;
}

main {
  /* width: 1020px; */
  margin: 0px auto;
}

img {
  height: 400px;
  object-fit: scale-down;
  margin: 10px;
}
