.title{
  width:65%;
  float:right;
  text-align: left;
}
h3{
 text-align: left;
 width:60%;
 position: relative;
}
img{
  width:30%;
  float:left;
}

footer{
position: absolute;
bottom:0;
width: 100%;
}