
img{
  width:300px;
  float:left;
}
.section-main{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
#feature{
  width: 98%; 
  padding: 0%;
}
#fix{
  width: 700px;
  margin-top: 10px;
  font-size: 22px;
  
}
#sum{
  font-style: italic;
  font-weight: 800;
  font-size: 30px;
  padding: 0%;
  margin-left: 18px;
  width: 50px;
  margin-top: 20px;
}
.titleHead, .titleName{
  display: inline;
  font-size: 25px;
  padding: 0%;
}
.titleHead{
  font-weight: bold;
}
.authorHead, .authorName{
  display: inline;
  font-size: 25px;
  padding: 0%;
}
.authorHead{
  font-weight: bold;
  margin:0%;
}
.isbnHead, .isbnNo{
  display: inline;
  font-size: 22px;
  padding: 0%;
}
.isbnHead{
  font-weight: bold;
}
#authorSpace{
  margin-top: 15px;
  text-align: left;
  margin-left: 20px;
}
#isbnSpace{
  margin-top: 15px;
  text-align: left;
  margin-left: 20px;
}
.alignTitle{
  text-align: left;
  margin-left: 20px;
}
#bookSummary{
  font-size: 20px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 20px;
  margin-top:15px;
  width:500;
  padding: 0%;
  text-align: justify;
  margin-left: 22px;
}
#button{
  margin-top: 10px;
  padding: 0%;
}

