@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700|Gloria+Hallelujah|Josefin+Slab|Montserrat:100,100i,200,200i,300,300i,400');


* {
  margin: 0 auto;
  text-align: center;
}

#home-bg {
  height: 100vh;
  background-color: #ccc;
  background-image: url('../images/book-stack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}

#logo-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
  font-weight: bold;
}

.inner-bg {
  height: 60px;
  background-color: #3477A6;
  margin-bottom: 30px;
}

header h1 {
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
}

#nav-list li {
  list-style-type: none;
  display: inline;
  padding: 15px 5px 15px 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

li a:hover {
  background-color: rgba(147, 77, 70 , .7);
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  border-radius: 15px;
}

nav {
  float: right;
  margin-top: 36px;
  margin-right: 15px;
}

#search {
  border-radius: 15px;
  padding:  2px 16px;
  margin-right: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

#home-main {
  width: 960px;
}

#quote-container {
  height: 83vh;
}

#filter-search-section {
  width: 960px;
  padding-top: 30px;
}

section h2 {
  padding-top: 30px;
  font-size: 50px;
  margin-bottom: 30px;
}

p {
  padding: 30px;
}

#quotes li {
  list-style-type: none;
  padding: 30px;
  font-family: 'Aref Ruqaa', serif;
  line-height: 32px;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
}

li span {
  font-weight: 700;
}

.quote-author {
  font-style: normal;
}

footer {
  background-color: #3477A6;
}