@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700|Gloria+Hallelujah|Josefin+Slab|Montserrat:100,100i,200,200i,300,300i,400');


* {
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: rgb(249, 248, 239);
}

#home-bg {
  height: 100vh;
  background-color: #ccc;
  background-image: url('../images/book-stack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;

  background-attachment: fixed;
}

.logo-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
  font-weight: bold;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 80px;
  font-style: italic;
}

.hero-text span {
  font-family: 'Gloria Hallelujah', cursive;
}


.inner-bg {
  height: 100px;
  background-color: #98AB9B;
}

header h1 {
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
}

#nav-list li {
  list-style-type: none;
  display: inline;
  padding: 15px 5px 15px 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

li a:hover {
  border-bottom: 3px solid white;
  /* background-color: rgba(147, 77, 70 , .7); */
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  transition: .350s;
  /* border-radius: 15px; */
}

nav {
  float: right;
  margin-top: 36px;
  margin-right: 15px;
}

#search {
  border-radius: 15px;
  padding:  2px 16px;
  margin-right: 10px;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
}

#home-main {
  width: 960px;
}

#quote-container {
  height: 83vh;
}

#search-filter-submit {
  background-color: #98AB9B;
  color: #ffffff;
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  box-shadow: 2px 4px 10px rgb(172, 172, 172);
  border: none;
  margin: 15px;
}

#keyphrase-filter {
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 25px;
  border: .5px solid rgb(172, 172, 172);
}

#filter-search-section {
  width: 960px;
  padding-top: 30px;
  height: 200px;
}

#homepage-filter-search {
  border:1px solid rgb(157, 157, 157);
  padding: 35px;
  border-radius: 5px;
  width: 800px;
  margin: 0 auto;
}

option {
  font-size: 24px;
}

form {
  font-family: 'Montserrat', sans-serif;
}

legend {
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

section h2 {
  padding-top: 10px;
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

p {
  padding: 30px;
}

#quotes li {
  list-style-type: none;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  line-height: 32px;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

li span {
  font-weight: 700;
}

.quote-author {
  font-style: normal;
}

footer {
  font-family: 'Gloria Hallelujah', cursive;
  color: #ffffff;
  background-color: #98AB9B;
}